.make{
	margin-left: 15px;
}
.leftcorner{
	border-radius:0px 0px 0px 5px;
}
.rightcorner{
	border-radius:0px 0px 5px 0px;
}
.green{
	background-color: #9eff9b;
	border:2px solid green;
}
.lightgreen{
	background-color: #b5f2b3;
	border:2px solid green;
}
.darkgreen{
	background-color: #40963d;
	border:2px solid green;
}
.grey{
	background-color: #C0C0C0;
	border: 2px solid black;
}
.medgreen{
	background-color: #89e088;
	border:2px solid green;
}
.red{
	background-color: #ff9b9b;
	border:2px solid red;
}
.lightred{
	background-color: #fcbdbd;
	border: 2px solid red;
}
.darkred{
	background-color: #e04545;
	border: 2px solid red;
}
.yellowGreen {
	background-color: #bfff80 !important;
	border: 2px solid #80ff00 !important;
}
.orange{
	background-color: #FFAD7F !important;
	border:2px solid #ff6600 !important;
}
.miss{
	margin-left: 15px;
}
.middle{
	border:2px solid #d8d802;background-color: #ffff99;
	margin-left: 15px;
}
.width{
	width: 100%;
}
.button{
	 position: absolute; right: 0px;
	 text-align: center;
	 paddin 	g-left: 0% !important;
}
.hi {
	border-radius: 5px 0px 0px 5px;
}
.goodbye {
	border-radius: 0px 5px 5px 0px;
}
.newSize {
	font-size:
}
.checkboxDescription {
	margin-left: 11px;
}
body {
  margin-top: 15px;
}
/*----- Tabs -----*/
.tabs {
  width:100%;
  display:inline-block;
	margin-top: 15px;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
	display:block;
	clear:both;
	content:'';

}
.tab-links {
	border-radius: 5px;
}
button {
	height: 50px;
}
.buttons{
	height: 80px;
}

#speed{
	opacity: 1;
}

.clickable{
	height: 80px;
	opacity: 1;
}

.whistle{
	opacity: 1;
	position: absolute;
	z-index: 1;
}

#cover{
	position: absoulte;
	z-index: 0;
	opacity: 1;
}
.tools {
	height: 50px !important;
}

#middleSpace{
	margin-left: 75px;
}

#ballButton{
	height: 100px;
}

.leftButton{
	margin-right: 40px;
	border-radius: 5px;
}
.rightButton{
	margin-left: 40px;
}

.smallButton{
	height:65px;
}

.tab-links li {
	margin:0px 5px;
	float:left;
	list-style:none;
}

.tab-links a {
	padding:9px 15px;
	display:inline-block;
	border-radius	:5px 5px 5px 5px;
	background:#7FB5DA;
	font-size:16px;
	font-weight:600;
	color:#4c4c4c;
	transition:all linear 0.15s;
}

.tab-links a:hover {
	background:#a7cce5;
	text-decoration:none;
}
/*.darkgreen:hover {
	background-color: white;
	color: #40963d;
	border-radius: 3px solid #40963d;
	font-weight: bold;
}
.green:hover {
	background-color: white;
	color: green;
	border-radius: 3px solid #9eff9b;
	font-weight: bold;
}
.middle:hover {
	background-color: white;
	color: #ffd400;
	border-radius: 3px solid #ffd400;
	font-weight: bold;
}
.red:hover {
	background-color: white;
	color: red;
	border-radius: 3px solid red;
	font-weight: bold;
}*/
li.active a, li.active a:hover {
	background:#e87185;
	color:#4c4c4c;
}

/*----- Content of Tabs -----*/
.infoIns {
	background-color: #e3e3e3;
	border-radius: 5px; 
}
.infoText {
	font-family: Univers, Futura, arial;
	margin-left: 15px;
}
.infoTextR {
	font-family: Univers, Futura, arial;
	margin-right: 5px;
}
.left {
	border-right: 2px solid black;
	margin-bottom: 17px;
	margin-top: 17px;
}
.right {
	margin-bottom: 17px;
	margin-top: 17px;
}

.tab-content {
	padding:15px;
	border-radius:5px;
	background:#fff;
}

.tab {
	display:none;
}

.tab.active {
	display:block;
}

.makeshot:hover {
	opacity: 0.8;
}
.missshot:hover {
	opacity: 0.8;
}
/*.topstyle {
	padding-left: 10px;
	margin-left: 35px;
}*/
.topStyle {
	padding-right: 10px;
	margin-right: 195px;
	border-radius: 10px 10px 0px 0px;
}
.opacity:hover {
	opacity: 0.8;
}
.top {
	background-color: #c1c1c1;
	border-radius: 10px;
	
}
.bottom {
	background-color: #dbdbdb;
	border-radius: 0px 0px 10px 10px;
}
.hi {
	border-radius: 5px;
}
.field {
	
}
.field {
	width: 900px;
	
}
/*#check{
	display: inline-block;
	margin-left: 141px;
}*/
/*#checkTop {
	display: inline-block;
	margin-left: 38px;
}*/
/*#penLabel {
	padding-left: 65px;
	font-size:20px;
	margin-right: 40px;
}*/
.foul {
	margin-right: 10px;
	margin-left: 10px;
}
.form-control {
	height: 45px ;
}
/*.iLikeCheck {
	margin-left: 250px;
}*/
.table {
	width: 1100px;
	height: 200px;
	padding-left: 50px;
	margin-left: 50px;
}
#teamNumber {
  width: 39px;
}
#redButton {
  border-radius: 5px;
  background-color: #ff9b9b;
  border: solid 3px red;
  height: 54px;
  width: 94px;
  padding: 1px 5px 1px 1px;
  font-size: 30px;
  display:flex;
  text-align: center;
}
#redButton:hover {
  opacity: .3;
  }
#blueButton {
  border-radius: 5px;
  background-color: #5587F3;
  border: solid 3px blue;
  height: 54px;
  width: 94px;
  padding: 1px 5px 1px 1px;
  font-size: 30px;
  display:flex;
  text-align: center;
}
#blueButton:hover {
  opacity: .3;
}

.everything{
	height: 100%;
	margin: auto;
}

.redPic{
	transform: rotate(0deg);
}

.bluePic{
	transform: rotate(0deg);
}
.teamInfo {
  display: flex;
  margin-left: 300px;
  marign-right: 100px;
  margin-top: 15px;
  text-align: middle;
}
.teamInfo1 {
	display: flex;
	margin-left: 800px;
	margin-top: 15px;
	text-align: middle;
	float: right;
}
.backButton {
	padding:9px 15px;
	display:inline-block;
	border-radius	:5px 5px 5px 5px;
	background:#7FB5DA;
	font-size:16px;
	font-weight:600;
	color:#4c4c4c;
	transition:all linear 0.15s;
	float: right;
	text-decoration: none;
}
#back:hover {
	color: black;
	text-decoration: none;
	opacity: .8;
}
.pit{
	  display: flex;
  margin-left: 575px;
  height: 34px;
  margin-top: 15px;
  text-align: middle;
}
.input {
	margin-bottom: 10px;
}
.pen {
	height: 300px;
}
.check {
	margin-bottom: 10px;
}
.label {
	margin-top: 10px !important;
}
.sizeFix {
	padding-left: none !important;
}
#marginTop {
	margin-top: 50px;
}
#Rotate:hover{
	opacity: 0.6;
}

.rotateField{
	height: 25px !important;
	background-color: #ccc; 
	border-radius: 2px; 
	border: none; 
	font-weight: bold;
}
.rotateField:hover {
	opacity: .6;
}
.rotate:hover {
	opacity: .1;
}
#Rotate {
	background-color: #ccc;
	border-radius: 2px;
	font-weight: bold;
}
#blueButton:hover {
	opacity: 0.6;
}
#controllers {
  width: 600px;
  font-size: 0.8em;
  color: #333;
}
#paint {
  border: 1px solid #000;
  background: #fff;
}
.controller {
  display: inline-block;
  background: #eee;
  border: 1px solid #e7e7e7;
  padding: 5px;
}
.form-group {
	margin-left: 15px;
	margin-right: 15px;
}