body {
  margin-top: 15px;
}
/*----- Tabs -----*/
.tabs {
  width:100%;
  display:inline-block;
	margin-top: 15px;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
	display:block;
	clear:both;
	content:'';

}
.tab-links {
	border-radius: 5px;
}
button {
	height: 50px;
}
.buttons{
	height: 80px;
}

#speed{
	opacity: 1;
}

.clickable{
	height: 80px;
	opacity: 1;
}

.whistle{
	opacity: 1;
	position: absolute;
	z-index: 1;
}

#cover{
	position: absoulte;
	z-index: 0;
	opacity: 1;
}


#middleSpace{
	margin-left: 75px;
}

#ballButton{
	height: 100px;
}

.leftButton{
	margin-right: 40px;
	border-radius: 5px;
}
.rightButton{
	margin-left: 40px;
}

.smallButton{
	height:65px;
}

.tab-links li {
	margin:0px 5px;
	float:left;
	list-style:none;
}

.tab-links a {
	padding:9px 15px;
	display:inline-block;
	border-radius	:5px 5px 5px 5px;
	background:#7FB5DA;
	font-size:16px;
	font-weight:600;
	color:#4c4c4c;
	transition:all linear 0.15s;
}

.tab-links a:hover {
	background:#a7cce5;
	text-decoration:none;
}

li.active a, li.active a:hover {
	background:#e87185;
	color:#4c4c4c;
}

/*----- Content of Tabs -----*/
.tab-content {
	padding:15px;
	border-radius:5px;
	background:#fff;
}

.tab {
	display:none;
}

.tab.active {
	display:block;
}

.makeshot:hover {
	opacity: 0.8;
}
.missshot:hover {
	opacity: 0.8;
}
/*.topstyle {
	padding-left: 10px;
	margin-left: 35px;
}*/
.topStyle {
	padding-right: 10px;
	margin-right: 195px;
	border-radius: 10px 10px 0px 0px;
}
.opacity:hover {
	opacity: 0.8;
}
.top {
	background-color: #c1c1c1;
	border-radius: 10px;
	
}
.bottom {
	background-color: #dbdbdb;
	border-radius: 0px 0px 10px 10px;
}
.hi {
	border-radius: 5px;
}
.field {
	
}
.field {
	width: 900px;
	
}
/*#check{
	display: inline-block;
	margin-left: 141px;
}*/
/*#checkTop {
	display: inline-block;
	margin-left: 38px;
}*/
/*#penLabel {
	padding-left: 65px;
	font-size:20px;
	margin-right: 40px;
}*/
.foul {
	margin-right: 10px;
	margin-left: 10px;
}
.form-control {
	width: 75px ;
	height: 45px ;
}
/*.iLikeCheck {
	margin-left: 250px;
}*/
.table {
	width: 1100px;
	height: 200px;
	padding-left: 50px;
	margin-left: 50px;
}
#teamNumber {
  width: 39px;
}
#redButton {
  border-radius: 5px;
  background-color: #ff9b9b;
  border: solid 2px red;
  height: 54px;
  width: 94px;
  padding: 1px 1px 1px 1px;
  font-size: 30px;
  display:flex;
  text-align: center;
}
#redButton:hover {
  opacity: none;
  background-color: white;
  color: #f44242;
  border: solid 3px #f44242;
  height: 54px;
  width: 94px;
  padding: 1px 1px 1px 1px;
  font-size: 30px;
  display:flex;
  text-align: center;
}
#blueButton {
  border-radius: 5px;
  background-color: #5587F3;
  border: solid 2px blue;
  height: 54px;
  width: 94px;
  padding: 1px 1px 1px 1px;
  font-size: 30px;
  display:flex;
  text-align: center;
}
#blueButton:hover {
  opacity: none;
  background-color: white;
  color: #5587F3;
  border: solid 3px #5587F3;
  height: 54px;
  width: 94px;
  padding: 1px 1px 1px 1px;
  font-size: 30px;
  display:flex;
  text-align: center;
}

.everything{
	height: 100%;
	margin: auto;
}

.redPic{
	transform: rotate(0deg);
}

.bluePic{
	transform: rotate(0deg);
}
.teamInfo {
  display: flex;
  position: absolute;
  margin-left: 575px;
  height: 34px;
  margin-top: 15px;
  text-align: middle;

.input {
	margin-bottom: 10px;
}
.pen {
	height: 300px;
}
.check {
	margin-bottom: 10px;
}
.label {
	margin-top: 10px !important;
}
.sizeFix {
	padding-left: none !important;
}
#pepe {
	margin-top: 50px;
}
#Rotate:hover{
	opacity: 0.6;
}

.rotateField{
	height: 25px !important;
	background-color: #ccc; 
	border-radius: 2px; 
	border: none; 
	font-weight: bold;
}
.rotateField:hover {
	opacity: .6;
}
.rotate:hover {
	opacity: .1;
}
#Rotate {
	height: 25px !important;
	background-color: #ccc;
	border-radius: 2px;
	border: none;
	font-weight: bold;
}
#blueButton:hover {
	opacity: 0.6;
}